@font-face{
	font-family: 'Magistral'; 
	src: url('../fonts/Magistral-Regular.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

@font-face{
	font-family: 'Magistral'; 
	src: url('../fonts/Magistral-Book.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 500;
}

@font-face{
	font-family: 'Magistral'; 
	src: url('../fonts/Magistral-Bold.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 700;
}