.slick-slider{
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;

	.slick-slide{
		padding: 0 15px;
		outline: none !important;
	}

	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.slick-arrow{
	height: 42px;
	width: 42px;
	z-index: 20;
	transition: all $t;
	display: flex;
	align-items: center;
	justify-content: center;

	svg{
		width: 7px;
		height: 12px;
		display: block;
		transition: all $t;
		fill: #fff;
	}

	&:before{
		content: '';
		display: block;
	}

	&.slick-prev{
		left: 0;
		background: #0067AA;

		&:hover,
		&:focus{
			background: #02558B;
		}
	}

	&.slick-next{
		right: 0;
		background: $primary;

		&:hover,
		&:focus{
			background: #BB3225;
		}
	}

	&.slick-disabled{
		opacity: 0;
		visibility: hidden;
	}
}

.slick-dotted.slick-slider{
	margin-bottom: 0;
}

.slick-dots{
	bottom: -29px !important;
	display: flex !important;
	justify-content: center;
	align-items: center;
	
	li{
		margin: 0 7px;
		width: 8px;
		height: 8px;
		display: flex;
		align-items: center;
		justify-content: center;

		button{
			width: 8px;
			height: 8px;
			background: #fff;
			padding: 0;
			opacity: 1;
			transition: all $t;

			&:before{
				display: none;
			}

			&:hover{
				opacity: 1;
			}
		}

		&.slick-active{
			button{
				opacity: 1;
				width: 8px;
				height: 8px;
				background: $primary;
			}
		}
	}
}