.table{
	border-collapse: collapse;
	width: 100%;

	th{
		font-size: 13px;
		text-align: center;
		color: #fff;
		font-weight: bold;
		line-height: 1.3;
		height: 36px;
		padding: 9px 17px;
		background: $accent;
	}

	td{
		height: 36px;
		font-size: 13px;
		line-height: 1.3;
		padding: 9px 17px;
		text-align: center;

		&:first-child{
			text-align: left;
		}
	}

	tbody{
		font-family: $second-font;

		tr{
			&:nth-child(even){
				background: #F4F4F4;
			}

			&.no-bg{
				background: transparent;

				+ tr:not(.no-bg){
					background: #F4F4F4;
				}
			}

			&.light-bg{
				background: #f4f4f4;

				+ tr:not(.light-bg){
					background: transparent;
				}
			}
		}
	}

	&.with-lines{
		th{
			border-right: 1px solid rgba(#fff, .1);
		}

		td{
			border-right: 1px solid rgba($dark, .1);

			&:first-child{
				border-left: 1px solid rgba($dark, .1);
			}
		}
	}

	&.small-paddings{
		td,
		th{
			padding-left: 10px !important;
			padding-right: 10px !important;
		}
	}

	.text-left{
		text-align: left !important;
	}

	.text-center{
		text-align: center !important;
	}

	&.documentation-table{
		.type{
			width: 180px;
			padding-left: 7px !important;
			padding-right: 7px !important;
			transition: all $t;
		}

		tr:hover .type{
			color: $primary;
		}
	}
}

.small-download-link{
	width: 34px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;

	svg{
		width: 9px;
		height: 13px;
		display: block;
		fill: rgba($dark, .7);
		transition: all $t;
	}

	&:hover,
	&:focus{
		background: $primary;

		svg{
			fill: #fff;
		}
	}
}

.table-wrapper{
	@media screen and (max-width: 1319px){
		overflow-x: auto;
	}
}