.team-card{
	.card-image{
		position: relative;
		margin-bottom: 9px;
		
		&:before{
			content: '';
			display: block;
			padding-top: 133.333%;
		}
		
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: cover;
			object-position: center center;
		}
	}

	.card-content{
		text-align: center;
	}

	.card-caption{
		font-size: 18px;
		line-height: 1.555;
		color: $text-dark;
		font-weight: 400;
	}

	.card-position{
		font-size: 14px;
		line-height: 1.3;
		font-weight: bold;
		color: $primary;
		margin-top: 5px;
	}
}