.believe-section{
	min-height: 650px;

	.section-caption{
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;

		.sc-title{
			font-size: 36px;
			line-height: 1.3;
			font-weight: 400;

			strong{
				color: inherit;
				font-weight: bold;
			}

			@media screen and (max-width: 767px){
				font-size: 30px;
			}
		}
	}
}