.help-section{
	padding: 45px 0 95px;

	.help-caption{
		font-size: 30px;
		line-height: 1.333;
		text-align: center;
		font-weight: bold;
		color: $text-dark;
		margin-bottom: 65px;
		max-width: 1010px;
		margin-left: auto;
		margin-right: auto;
	}

	.help-subcaption{
		font-size: 18px;
		line-height: 1.3;
		text-transform: uppercase;
		color: $primary;
		font-weight: bold;
		margin-bottom: 20px;
		text-align: center;
	}

	.section-text{
		max-width: 1070px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 35px;
		text-align: center;
		@include tpg-default;
	}

	.section-footer{
		display: flex;
		align-items: center;
		justify-content: center;

		.btn{
			width: 100%;
			max-width: 230px;
		}
	}

	@media screen and (max-width: 767px){
		.help-caption{
			font-size: 24px;
		}

		.help-subcaption{
			font-size: 16px;
		}
	}
}