.text-on-bg-section{
	min-height: 750px;
	display: flex;
	align-items: center;
	padding: 100px 0;
	text-align: center;
	background-size: cover;
	background-position: center center;
	color: #fff;

	&.fixed-bg{
		@media screen and (min-width: 992px){
			background-attachment: fixed;
		}
	}

	&.smaller{
		min-height: 650px;
	}

	.section-caption{
		.sc-subtitle{
			max-width: 880px;
			margin-left: auto;
			margin-right: auto;

			&.fullwidth{
				max-width: unset;
			}
		}
	}

	.button-wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@media screen and (max-width: 1319px){
		min-height: 550px;

		&.smaller{
			min-height: 550px;
		}
	}

	@media screen and (max-width: 767px){
		min-height: 650px;
		padding: 50px 0;

		&.smaller{
			min-height: 650px;
		}
	}
}